<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row">
  <div class="col-md-12">
      <img
      [src]="profileUser.profileImage"
      alt="No profile picture set"
      class="img-responsive profile-user-image">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <h1>{{ profileId == currentUser.id ? "Welcome" : "This is " }} {{ profileUser.firstName }} {{ profileUser.lastName }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      {{ profileUser.email }}
  </div>
</div>
<div class="row">
  <button
  *ngIf="profileId == currentUser.id"
  class="btn btn-primary"
  (click)="editProfile()">Edit Profile</button>
</div>
<div class="row">
  <div class="col-xs-12" *ngIf="friends.length > 0">
    <hr>
      <h3>Friends</h3>
      <ul class="list-group" >
          <li class="list-group-item"
          *ngFor="let friend of friends">
          {{ friend.firstName }} {{ friend.lastName }}</li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" *ngIf="userPosts.length > 0">
    <hr>
      <h3>{{ profileUser.firstName }}'s Posts</h3>
      <ul class="list-group" >
          <li class="list-group-item"
          *ngFor="let post of userPosts">
          <div class="panel-body">
            <!-- Newsfeed Content -->
            <!--===================================================-->
            <div class="media-block">
              <a class="media-left" href="#">
                <img
                class="img-circle img-sm post-author-image"
                alt="No profile image selected"
                [src]=post.author.profileImage
                ></a>
              <div class="media-body">
                <div class="mar-btm">
                  <a href="#" class="btn-link text-semibold media-heading box-inline">{{ post.author.firstName }}</a>
                </div>
                <p>{{ post.content }}</p>
                <div class="pad-ver">
                  <div class="btn-group">
                    <button
                    class="btn btn-sm btn-default btn-hover-success"
                    [disabled]="!!hasUserLiked(post)"
                    (click)="onLike(post)"
                    ><i class="fa fa-thumbs-up"></i>{{ post.likes.length }}</button>
                    <button
                    class="btn btn-sm btn-default btn-hover-success"
                    [disabled]="currentUser.id == post.author.id"
                    (click)="onShare(post)"
                    >Share</button>
                    <!-- <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a> -->
                  </div>
                  <!-- <a class="btn btn-sm btn-default btn-hover-primary" href="#">Comment</a> -->
                </div>
                <hr>
              </div>
            </div>
          </div>
      </ul>
  </div>
</div>
